<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Main page</title>
    <link rel="stylesheet" href="/error.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/navigation_bar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/offers_page.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main_page_slider.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/filters_bar.css}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5a3814d3c5.js" crossorigin="anonymous"></script>
</head>
<body>
    <main class="bg-text">
        <div th:if="${isSignedIn}">
            <header th:replace="/navigation_bar/navigation_bar.html :: body"></header>
         </div>
         <div th:unless="${isSignedIn}">
            <header th:replace="/navigation_bar/unauthorized_navigation_bar.html :: body"></header>
         </div>
      <section>
        <div class="container">
            <a href="/areas/historical" th:if="${isHistorical}" id="backButton">Назад</a>
            <a href="/areas/natural" th:unless="${isHistorical}" id="backButton">Назад</a>
            <div class="row" id="filtersBarLine">
                <h1 th:text="${title}" style="text-align: center;"></h1>
                <div id="filtersDiv">
                    <ul class="filtersBar" th:attr="style=${hasNoLandmarks} ? 'pointer-events : none'">
                        <li th:classappend="${filterCriteria eq #strings.toLowerCase('popular')} ? active" th:attr="style=${filterCriteria eq #strings.toLowerCase('popular') ? 'pointer-events:none; opacity: 0.6' : ''}">
                            <form th:action="@{/offers/filter/criteria}" method="post" style="margin: 0;">
                                <input type="hidden" name="filterCriteria" value="popular">
                                
                                <button type="submit" title="submitBtn" style="border: 0px; background-color: transparent; padding: 0;">
                                    <span id="brandName">Най-популярни</span>
                                </button>
                            </form>
                        </li>
                        <li th:classappend="${filterCriteria eq #strings.toLowerCase('visited')} ? active" th:attr="style=${filterCriteria eq #strings.toLowerCase('visited') ? 'pointer-events:none; opacity: 0.6' : ''}">
                            <form th:action="@{/offers/filter/criteria}" method="post" style="margin: 0;">
                                <input type="hidden" name="filterCriteria" value="visited">
                                
                                <button type="submit" title="submitBtn" style="border: 0px; background-color: transparent; padding: 0;">
                                    <span id="brandName">Най-посещавани</span>
                                </button>
                            </form>
                        </li>
                        <li th:classappend="${filterCriteria eq #strings.toLowerCase('new')} ? active" th:attr="style=${filterCriteria eq #strings.toLowerCase('new') ? 'pointer-events:none; opacity: 0.6' : ''}">
                            <form th:action="@{/offers/filter/criteria}" method="post" style="margin: 0;">
                                <input type="hidden" name="filterCriteria" value="new">
                                
                                <button type="submit" title="submitBtn" style="border: 0px; background-color: transparent; padding: 0;">
                                    <span id="brandName">Най-нови</span>
                                </button>
                            </form>
                        </li>
                        <li th:classappend="${filterCriteria eq #strings.toLowerCase('favorite')} ? active" th:attr="style=${filterCriteria eq #strings.toLowerCase('favorite') ? 'pointer-events:none; opacity: 0.6' : ''}">
                            <form th:action="@{/offers/filter/criteria}" method="post" style="margin: 0;">
                                <input type="hidden" name="filterCriteria" value="favorite">
                                
                                <button type="submit" title="submitBtn" style="border: 0px; background-color: transparent; padding: 0;">
                                    <span id="brandName">Най-любими</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" th:if="${hasNoLandmarks}">
                <h1 id="noResults">Няма намерени забележителности от тази категория</h1>
            </div>
            <div class="row" th:unless="${hasNoLandmarks}">
                <div th:each="land : ${landmarkEntities}" class="col-12 col-md-6 col-lg-4 mt-5 mb-4" style="align-items: stretch;">
                    <a th:href="@{|/offers/${land.id}|}">
                    <div class="card">
                        <div class="card-header">
                            <img th:src="|/images/${land.images[0].imagePath}|" alt="image for landmark" style="float: right">
                        </div>
                        <div class="card-footer">
                            <h3 class="card-text" th:text="${land.name}"></h3>
                            <div>
                                <p>
                                    <span class="fas fa-eye"></span>
                                    <b th:text="${land.views}"></b>
                                </p>
                                <p>
                                    <span class="fas fa-image"></span>
                                    <b th:text="${land.numberOfImages}"></b>
                                </p>
                                <p>
                                    <span class="fas fa-calendar"></span>
                                    <b th:text="${land.dateOfOffer}"></b>
                                </p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </section>
    </main>
    <script src="/scripts/navigation_bar.js"></script>   
</body>
</html>