<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Login page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/scripts/auth_pages/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/styles/auth_pages/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/styles/auth_pages/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/scripts/auth_pages/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/scripts/auth_pages/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/scripts/auth_pages/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/scripts/auth_pages/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/scripts/auth_pages/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/styles/auth_pages/util.css">
	<link rel="stylesheet" type="text/css" href="/styles/auth_pages/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form name="loginForm" class="login100-form validate-form" th:action="@{/user/login}" 
					  method="post" onsubmit="return validateForm()">

					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

					<p id="usernameValidationText" class="text-danger" style="display: none;">Please enter username</p>
					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="username" placeholder="Username" minlength="3" maxlength="25">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<p id="passwordValidationText" class="text-danger" style="display: none;">Please enter password</p>
					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="password" placeholder="Password" minlength="5" maxlength="25">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<!--<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>-->

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" onmouseover="moveButtonAside()">
							Login
						</button>
					</div>
					<br>
					<div th:if="${param.error}">
						<h3 style="color: red; text-align: center;">Invalid username and password.</h3>
					</div>

					<div class="text-center p-t-90">
						<a class="txt1" href="/user/register">
							<b>Register</b> if you have no account.
						</a>
						<br>
						<a class="txt1" style="background-color: black; border-radius: 20px; padding: 0 10px;" href="/">
							Return to home page
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/scripts/auth_pages/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/scripts/auth_pages/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/scripts/auth_pages/vendor/bootstrap/js/popper.js"></script>
	<script src="/scripts/auth_pages/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/scripts/auth_pages/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/scripts/auth_pages/vendor/daterangepicker/moment.min.js"></script>
	<script src="/scripts/auth_pages/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/scripts/auth_pages/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/scripts/auth_pages/main.js"></script>
	<script src="/scripts/auth_pages/validateForm.js"></script>

</body>
</html>